/* NavBar.css */
.navbar {
    background-color: rgb(15, 15, 94);
    padding: 1rem;
    display: flex;
    justify-content: space-between; /* Space between the brand and menu items */
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    align-items: flex-end;
}

.navbar-item {
    margin-right: 20px;
    display: inline;
}
.navbar-brand {
    margin-left: 5px;
    font-family: 'Courier New', Courier, monospace; /* Change font here */
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.navbar-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-item a:hover {
    color: #ff6347; 
}
